*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f1f5f9;
}



/* HEADER */

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:16px 40px;
  background:#e9eef6;
}

.header-left{
  display:flex;
  gap:10px;
  align-items:center;
}

.logo{width:42px}

.header-left h2{
  color:#2f4ea2;
}

.profile{
  width:40px;
  border-radius:50%;
}



/* LAYOUT */

.assignment-layout{
  display:grid;
  grid-template-columns:280px 1fr;
  height:calc(100vh - 70px);
}



/* SIDEBAR */

.curriculum{
  background:#f4f7fc;
  padding:20px;
  border-right:1px solid #dde6f4;
}

.module{
  margin-bottom:20px;
}

.module h4{
  font-weight:600;
  margin-bottom:8px;
}

.lesson{
  padding:8px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}

.lesson.active{
  background:#2f4ea2;
  color:white;
}



/* SIDEBAR TOOLS */

.sidebar-tools{
  margin-top:30px;
  border-top:1px solid #dde6f4;
  padding-top:20px;
  display:flex;
  flex-direction:column;
  gap:12px;
}

.tool-btn{
  background:white;
  border:none;
  padding:10px;
  border-radius:10px;
  font-weight:600;
  cursor:pointer;
}



/* ASSIGNMENT AREA */

.assignment-area{
  padding:30px;
}

.assignment-area h2{
  margin-bottom:20px;
}



/* VERTICAL CARDS */

.assignment-card{
  background:white;
  padding:18px;
  border-radius:14px;
  box-shadow:0 8px 22px rgba(0,0,0,0.06);
  margin-bottom:16px;

  display:flex;
  flex-direction:column;
  gap:6px;
}

.due{
  font-size:13px;
  color:#64748b;
}



/* STATUS */

.status{
  font-size:12px;
  padding:4px 10px;
  border-radius:20px;
  width:fit-content;
}

.pending{
  background:#fee2e2;
  color:#b91c1c;
}

.submitted{
  background:#dcfce7;
  color:#166534;
}



/* BUTTONS */

.assignment-card button{
  margin-top:8px;
  width:fit-content;
  background:#2563eb;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:20px;
  cursor:pointer;
}

.view-btn{
  background:#10b981;
}



/* MODAL */

.upload-modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  justify-content:center;
  align-items:center;
}

.upload-box{
  background:white;
  padding:30px;
  border-radius:14px;
  position:relative;
}

.close{
  position:absolute;
  top:10px;
  right:14px;
  cursor:pointer;
}
/* QUIZ */

.quiz-title{
  margin-top:30px;
}

.quiz-question{
  background:white;
  padding:14px;
  border-radius:10px;
  margin-bottom:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.05);
}

.quiz-question p{
  font-weight:600;
  margin-bottom:6px;
}

.quiz-question label{
  display:block;
  font-size:13px;
  margin-bottom:4px;
}



/* SUBMIT */

.submit-quiz{
  margin-top:20px;
  padding:10px 18px;
  border:none;
  background:#2563eb;
  color:white;
  border-radius:20px;
  cursor:pointer;
}
